 html {
   background-color: orange;
   box-sizing: border-box;
   color: rgb(50, 50, 50);
 }

 body {
   background-color: whitesmoke;
   padding: 15vh 0 0 0;
 }

 #navbar {
   background-color: whitesmoke;
   width: 100%;
   height: 15vh;
   position: fixed;
   top: 0;
   z-index: 5;
   border-bottom: 1px solid orange;
 }

 #navbar ul {
   margin: 0;
   list-style: none;
   text-align: left;
   padding-left: 8vw;
 }

 #navbar ul li {
   display: inline-block;
   margin: 5vh 0 0 0;
 }

 #navbar ul li a {
   padding: 0rem 1.5rem 0.25rem 1.5rem;
   text-decoration: none;
   font-family: "tomarik-display", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 2rem;
   color: orange;
   border-radius: 50px;
   border: 1px solid transparent;
   transition: 150ms ease-in-out;
 }

 #navbar ul li a:hover {
   color: orangered;
   font-family: "tomarik-display-shadow", sans-serif;
   border: 1px solid orangered;
   border-radius: 50px;
 }

 main {
   width: 40vw;
   height: 80vh;
   background-color: whitesmoke;
   border: 1px solid orange;
   position: fixed;
   top: 15vh;
   left: 10vw;
   overflow: hidden;
 }

 main img {
   width: 100%;
   height: auto;
   margin: 0;
   transition: 1000ms ease-in-out;
 }

 main :hover {
   background-color: orange;
 }

 section {
   width: 35vw;
   margin: -5vh 20vw 0 50vw;
   border-right: 1px solid orange;
   padding: 5vh 50px 0 50px;
   height: 85vh;
   line-height: 1.5em;
 }

 section h2 {
   margin: 0rem auto;
   color: rgb(165, 165, 165);
 }

 h1 {
   color: orange;
 }

 footer {
   background-color: whitesmoke;
   width: 100vw;
   height: 7.5vh;
   margin: 10vh auto 0 auto;
   align-items: center;
   position: fixed;
   bottom: 0;
   z-index: 5;
   border-top: 1px solid orange;
   padding-left: 10vw;
 }

 footer p,
 footer a {
   color: lightgray;
   text-decoration: none;
 }
